
# Ignore the bazel directories when this directory is used as a local repository.
bazel-*
bazel-bin
bazel-out
bazel-testlogs

pjrt_plugin/model/__pycache__
pjrt_plugin/model/tf_musa_runner_xla/runner_out
pjrt_plugin/model/tf_musa_runner_xla/frozen_out

# Emacs autosaves
*~
\#*\#

# Visual Studio files
.vs/
.vscode/
*.sdf
*.opensdf
*.VC.opendb
*.suo
*.user
